@import "../common/styles/sass/mixins";

.header {
  @include display(flex, column, space-around, center);
  background-color: #fffdfd;
  height: 100vh;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  h3 {
    visibility:hidden;
  }

  @media screen and (max-width: 768px) {
    @include display(flex, column, center, flex-start);
    padding: 0 20px;
    height: 50px;
    width: 100%;
    right: 0;
    z-index: 12;
    h3 {
      visibility:unset;
      font-weight: 900;
      left: 20px;
    }
  }
}

