.mainContainer {
    width: 70%;
    /*border: 1px solid;*/
    margin: 0 auto;
}
.title {
    display: inline-block;
    align-items: center;
    background-color: rgba(0,0,0,.04);
    padding: 4px 10px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    color: #575555;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
}
h2 .mainTitle {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: #000;
    font-size: 30px;
    margin: 11px 0 65px 0;
}
.generelText {
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.1px;
    word-wrap: break-word;
    color: #575555;
}