.contact {
    background-color: #eeeded;
}
.mapSection {
    margin-bottom: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.first {
    width: 100%;
}
ul {
    padding: 0;
}
li input {
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    background-color: transparent;
}
input {
    padding: 10px;
    border-radius: 0;
    font-size: 15px;
    min-width: auto;
    letter-spacing: 0;
    line-height: 1.6;
    height: 44px;
    transition: all .3s ease;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
.contactFields {
    list-style-type: none;
    margin: 0 0 30px;
}
.last {
    width: 100%;
}
.last textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 120px;
    resize: none;
    margin-bottom: 50px;
    background-color: transparent;
}
textarea {
    padding: 10px;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.4;
    height: 44px;
    transition: all .3s ease;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
.textBtn {
    color: white;
    font-size: 15px;
}
@media screen and (max-width: 992px) {
    .form {
        align-items: center;
    }
}