.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.details {
    display: flex;
    align-items: center;
}
.aboutMePart {
    width: 200px;
    height: 350px;
    border: dimgrey solid 1px;
}
h1 {
    font-weight: 900;
    font-size: 38px;
}
.aboutMeDescrbPart {
    margin-left: 80px;
}
.mainText {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #575555;
    font-weight: 500;
    letter-spacing: 1.1px;
}
.aboutMeSocialIcons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 30px;
}