.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.details {
    display: flex;
    align-items: center;
}
h1 {
    font-weight: 900;
    font-size: 38px;
}
.aboutMeDescrbPart {
    margin-left: 80px;
}
.mainText {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #575555;
    font-weight: 500;
    letter-spacing: 1.1px;
}
.aboutMeSocialIcons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 30px;
}

@media screen and (max-width: 1066px) {
    .aboutMe {
        padding: 35px 0 45px 0;
    }
    .details {
        flex-direction: column;
    }
    .aboutMeDescrbPart {
        margin-left: 0;
        text-align: center;
    }
    .aboutMeSocialIcons {
        width: unset;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 320px) {
    h1 {
        font-size: 30px;
    }
}

