@import "../../../common/styles/sass/variable.sccs";
@import "../../../common/styles/sass/mixins";
//box-shadow: 0 9px 18px 10px rgba(0, 0, 0, 0.5);

.burgerSideBar {
  height: 100%;
  display: none;
  .burgerSideBarBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../../../access/img/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    right: 0;
  }
  /*.burgerSideBarBtnOpen {
    transform: translate(0.5%,0);
    transition: 3s;
  }*/
  .burgerSideBarNavBlock {
    @include display(flex, column, center, center);
    transform: translate(100%,0);
    transition: 2s;
    box-shadow: 0 9px 18px 10px rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 100vh;
    gap: 20px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;

    a {
      text-decoration: none;
      letter-spacing: 1.1px;
      cursor: pointer;

      &:hover {
        color: $secondTextColor;
      }
    }
  }
  .show {
    transform: translate(0,0);
    transition: 2s;
  }
  @media screen and (max-width: 768px) {
    @include display(block, unset, unset, unset);
  }
}













