.skillSection {
    display: flex;
    flex-wrap: wrap;

}
.skillText {
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.1px;
    word-wrap: break-word;
    color: #575555;
}