@import "../../common/styles/sass/variable.sccs";
@import "../../common/styles/sass/mixins";


.sideBar {
  display: flex;

  /*.sideBarBlock {
    @include display(flex, column, unset, flex-start);
    width: 100%;*/

    .navBlock {
      @include display(flex, column, flex-start, unset);
      gap: 5px;

      a {
        text-decoration: none;
        letter-spacing: 1.1px;
        cursor: pointer;

        &:hover {
          color: $secondTextColor;
        }
      }
    }
  //}

  @media screen and (max-width: 768px) {
    display: none;
  }
}













