p {
    margin: 0;
}

.creator {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #999;
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
}