.project {
    display: flex;
    flex-direction: column;
}
.projectImg {
    width: 400px;
    height: 260px;
}
@media screen and (max-width: 1285px) {
    .projectImg {
        width: 350px;
        height: 230px;
    }
}
@media screen and (max-width: 1200px) {
    .projectImg {
        min-width: auto;
        height: 200px;
    }
}
@media screen and (max-width: 320px) {
    .projectImg {
        width: 320px;
        height: 200px;
    }
}


