@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('./access/fonts/Montserrat/static/Montserrat-Medium.ttf')
}
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('./access/fonts/Mulish/Mulish-VariableFont_wght.ttf')
}
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('./access/fonts/Poppins/Poppins-Medium.ttf')
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;/*-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
