.projects {
    background-color: #eeeded;
}
.projectsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
@media screen and (max-width: 1560px) {
    .projectsContainer {
        width: 80%;
    }
}
@media screen and (max-width: 1420px) {
    .projectsContainer {
        width: 90%;
    }
}
@media screen and (max-width: 992px) {
    .projectsContainer {
        width: 90%;
    }
    .projectsSection {
        justify-content: center;
    }
}
@media screen and (max-width: 480px) {
    .projectsContainer {
        width: 100%;
    }
}
